# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
# Environment
.venv/
env/
venv/
ENV/

.gemini/
# Secrets
.env

# OS
.DS_Store

# Data & Logs
*.log
logs/
data/
tests/.local_packages/
uv.lock
